<%- include('./partials/navusers') %>
<br>
<div class="dash_name mt-5" style="height: 1900px;">
  <h2 class="mt-2">Dashboard</h2>
  <p class="lead text-center mt-2 ">Welcome <%= username %></p> 
</div>
